body {
	font-family: Arial;	
}

label {
	font-weight: bold;
	text-align: right;
}

div#wrapper{
	width: 1000px;
	margin: 0 auto;
	background-color: #f8f8f8;
}

.clear {
	clear: both;
}
.table {
	display: table;
}

.table_title {
	display: table-caption;
	text-align: center;
	font-weight: bold;
	font-size: larger;
}

.table_heading {
	display: table-row;
	font-weight: bold;
	text-align: center;
}

.table_row {
	display: table-row;
}

.table_cell {
	display: table-cell;
	border: solid;
	border-width: thin;
	padding-left: 5px;
	padding-right: 5px;
}

div#left_panel {
	float: left;
	width: 50%;
}

div#right_panel {
	float: right;
	width: 50%;
}